<section class="reset">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ">
                <div class="login-logo card-auth ">
                    <div class="text-center">
                        <img src="../../../../assets/images/logo.svg" alt="" class="w-50">
                    </div>
                    <h2>Reset Password</h2>
                    <p>Please Enter Your Otp or Check Your Inbox</p>
                    <form [formGroup]="resetForm" (ngSubmit)="onReset(resetForm)">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
                            <input type="text" formControlName="email" class="form-control" placeholder="Email"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input type="text" formControlName="seed" class="form-control"
                                placeholder="OTP" >
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input type="password" formControlName="password" class="form-control"
                                placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input type="password" formControlName="confirmPassword" class="form-control"
                                placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
                        </div>
                        <button [disabled]="resetForm.invalid" class="primary w-100">Reset</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>