<section class="reset">
    <div class=" card-auth p-5 ">
        <h2>Change Password</h2>
        <p>Please Enter Your Details</p>
        <form [formGroup]="changePasswordtForm" (ngSubmit)="onChange(changePasswordtForm)">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input type="password" formControlName="oldPassword" class="form-control" placeholder="Old Password"
                    aria-label="password" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password"
                    aria-label="password" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input type="password" formControlName="confirmPassword" class="form-control"
                    placeholder=" Confirm Password" aria-label="password" aria-describedby="basic-addon1">
            </div>
            <button [disabled]="changePasswordtForm.invalid" class="primary w-100">Change Password</button>
        </form>
    </div>
</section>