<section class="page-header2 my-4">
    <div class="container">
        <div class="row d-flex align-items-center py-4">
            <div class="col-9 ">
                <h3 class="text-dark">Fill the <span class="text-main">Recipes </span>!</h3>
                <p class="text-second">you can now fill the meals easily using the table and form , click here and sill
                    it with the table !</p>
            </div>
            <div class="col-3">
                <div class="text-center ">
                    <button class="primary"><a routerLink="/dashboard/admin/recipes"
                            class="text-white text-decoration-none ">All Recipes <i
                                class="fa-solid fa-arrow-right mx-3"></i></a></button>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="add-edit">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form [formGroup]="addEditForm">
                    <div class="input-group mb-3">
                        <input type="text" formControlName="name" class="form-control" placeholder="Recipe Name">
                    </div>
                    <select [(ngModel)]="tags" formControlName="tagId" class="form-select form-select mb-3">
                        <option selected>Select</option>
                        <option *ngFor="let item of tags" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                    <select [(ngModel)]="categories" formControlName="categoriesIds"
                        class="form-select form-select mb-3">
                        <option selected>Select</option>
                        <option *ngFor="let item of categories" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                    <div class="input-group mb-3">
                        <input type="text" formControlName="price" class="form-control" placeholder="Price">
                        <span class="input-group-text" id="basic-addon2">EGP</span>
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" formControlName="description" placeholder="Description "
                            rows="3"></textarea>
                    </div>
                    <div>
                        <ngx-dropzone  (change)="onSelect($event)" [multiple]="false">
                            <ngx-dropzone-label *ngIf="!imgSrc">
                                <i class="fa-solid fa-arrow-up-from-bracket d-block"></i>
                                Drag & Drop or <span class="text-main">Choose a Item Image</span> to Upload
                            </ngx-dropzone-label>
                            <ngx-dropzone-label *ngIf="imgSrc">
                             <img [src]="imgSrc" alt="">
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [removable]="true"  [file]="f" (removed)="onRemove(f)">
                            </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="buts text-end">
                        <button class="outline-primary px-5 "><a routerLink="/dashboard/admin/recipes"
                                class=" text-decoration-none text-main ">Cancel </a></button>
                        <button class="primary text-center mx-4 px-4" (click)="onSubmit(addEditForm)">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>