<section id="navbar">
    <div class="container">
        <div class="row">
            <div class="col-3 ms-auto">
                <div class="user-profile d-flex align-item-center">
                    <div class="user-avatar">
                        <img src="../../../../assets/images/avatar.jpg" >
                    </div>
                    <span class="mx-3">
                        user name
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>