<section id="navbar">
    <div class="container">
        <div class="row">
            <div class="col-3 ms-auto">
                <div class="user-profile d-flex align-item-center">
                    <div class="user-avatar">
                        <img src='https://upskilling-egypt.com/${{currentUser.imagePath}}' >
                    </div>
                    <span class="mx-3">
                       <a routerLink="/auth/edit-user">{{currentUser.userName}}</a> 
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>