<div class=" card-auth p-5 ">
    <h2>Request Reset Password</h2>
    <p>Please Enter Your Email And Check Your Inbox</p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
            <input [(ngModel)]="email" type="text"  class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="text-end my-2">
            <a (click)="onNoClick()" routerLink="/auth/reset-password" class="text-second text-decoration-none">Have a Code !</a>
          </div>
        <button [mat-dialog-close]="email" cdkFocusInitial class="primary w-100">Send</button>
 </div>